@use '../abstracts' as *;

.modal {
  position: absolute;
  top: 0;
  right: 100%;
  left: 0;
  height: 100vh;
  background-color: rgba(black, .6);
  z-index: 1;
  overflow: hidden;
  opacity: 0;
  transition: 400ms;

  @include mq(768px) {
    position: static;
    height: fit-content;
    overflow: visible;
    opacity: 1;
  }
}

.modal.open {
  right: 0;
  opacity: 1;
}

.menu {
  max-width: 0;
  height: 100%;
  background: white;
  transition: 600ms;
  transition-delay: 200ms;
  overflow: hidden;

  @include mq(768px) {
    height: initial;
    z-index: 10;
    overflow: visible;
    
  }
}

.modal.open .menu {
  max-width: 60%;
  padding: 2rem;
}

.close {
  display: block;
  background-image: url(/src/images/icon-close.svg);
  background-repeat: no-repeat;
  width: 1.5rem;
  height: 1.5rem;
  margin-bottom: 4rem;
  cursor: pointer;

  @include hoverAnimation(1.35, .25s);

  @include mq(768px) {
    display: none;
  }
}

