@use '../abstracts' as *;

.carousel {
  position: relative;
  height: 320px;
  max-width: 375px;
  overflow: hidden;

  &__track {
    position: relative;
    height: 100%;
    transition: transform 350ms;
  }
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;

  & img {
    height: 100%;
    object-fit: cover;
  }
}